.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {

  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: gold;
  background: linear-gradient(
    90deg,
    rgb(220, 230, 129) 0%,
    rgb(200, 209, 79) 100%
  );
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(196, 209, 79, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 30px;
}

button::before {
  content: "";
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  box-shadow: 0 0 60px rgba(229, 255, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
